<!DOCTYPE html>
<!--Email upon submitting a receipt through the app
Email subject: We have received your Gambeal transaction request
Include the transaction request number from the app in the subject line
-->

<center><p>Hey {{var_name}},</p> <center>

</center><p>Thanks for submitting your receipt with feedback about your recent experience. We try to approve all requests within 24 to 48 hours. At times it may take us a bit longer due to increased transaction volumes.
</p></center>

<br>
<center>Here's a summary of the receipt you submitted:</p></center><p>
    
<center><p>Date: {{var_date}}</p></center>
<center><p>Category: {{var_category}}</p></center>
<center><p>Status: {{var_status}}</p></center>
<center><p>Reward: {{var_money}}</p></center>
<center><p>Feedback Rating: {{var_rating_score}}</p></center>
<center><p>Would Come Back: {{var_rating_wouldreturn}}</p></center>
<center><p>Feedback Comment: {{var_rating_comments}}</p></center>
<br>

<center><p>Best regards!</p></center>
<center><p>Team Gambeal</p></center>

<center><a href="http://www.gambeal.com/"><img src="http://res.cloudinary.com/dvui9ad79/image/upload/v1525479578/Email_Assets_Artboard_7_preview-1.png" width="1000"></a></center>

<center><p>Follow us on Twitter: <a href="https://twitter.com/gambealmeal?lang=en">@gambealmeal</a></p></center>
<center><p>Follow us on Instagram: <a href="https://www.instagram.com/gambealmeal">https://www.instagram.com/gambealmeal</a></p></center>
<center><p>Follow us on Facebook: <a href="https://www.facebook.com/gambealmeal">https://www.facebook.com/gambealmeal</a></p></center>
<center><p>Stay in the loop with what’s going on at Gambeal here: <a href="http://gambeal.com/">http://gambeal.com</a></p></center>

</html>
