<!DOCTYPE html>
<!--Email user receives when their withdraw request has been approved
Email subject: Your Gambeal receipt request is approved!
-->

<center><p>Hey {{var_name}},</p> <center>

<center><p>Chyeaa! Your withdrawal request has been approved! We hope that you enjoy these extra funds at some of the best restaurants.</p></center>

<center><p>Thanks again for being a loyal Gambeal user.</p></center>

<center><p>Best regards!</p></center>
<center><p>Team Gambeal</p></center>

<center><a href="http://www.gambeal.com/"><img src="http://res.cloudinary.com/dvui9ad79/image/upload/v1525479578/Email_Assets_Artboard_7_preview-1.png" width="1000"></a></center>

<center><p>Follow us on Twitter: <a href="https://twitter.com/gambealmeal?lang=en">@gambealmeal</a></p></center>
<center><p>Follow us on Instagram: <a href="https://www.instagram.com/gambealmeal">https://www.instagram.com/gambealmeal</a></p></center>
<center><p>Follow us on Facebook: <a href="https://www.facebook.com/gambealmeal">https://www.facebook.com/gambealmeal</a></p></center>
<center><p>Stay in the loop with what’s going on at Gambeal here: <a href="http://gambeal.com/">http://gambeal.com</a></p></center>

</html>
